<div class="w-full sm:max-w-screen-xl mx-0 sm:mx-auto px-10 md:px-12 mb-7 lg:mb-10">
  <h1 class="text-4xl font-semibold lg:text-7xl lg:font-bold text-gray-50 mb-10 lg:mb-20">Sponsors</h1>

  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-10 mb-5">Become a Supporter!</h3>
  <p class="text-gray-50 mb-4 text-xl lg:text-2xl font-normal">Interested in sponsoring? <a class="underline underline-offset-2 decoration-1 font-light hover:decoration-2 hover:text-gray-50" routerLink="/donate">More Info.</a></p>

  <h2 class="text-4xl lg:text-4xl font-bold text-gray-50 mt-10 mb-5">Hall of Fame</h2>

  <p class="text-gray-200 mb-6 text-xl lg:text-2xl font-normal lg:leading-10">I’m truly grateful to all the wonderful
    humans and companies supporting my work.</p>

  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-14 mb-5">Platinum Sponsor <span class="text-green-600 font-normal text-xl leading-10">$200/mo</span></h3>

  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-14 mb-5">Gold Sponsor <span class="text-green-600 font-normal text-xl leading-10">$100/mo</span></h3>
  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-14 mb-5">Silver Contributor <span class="text-green-600 font-normal text-xl leading-10">$50/mo</span></h3>

  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-14 mb-5">Bronze Contributor <span class="text-green-600 font-normal text-xl leading-10">$5-20/mo</span></h3>


  <hr class="bg-gray-50 h-1 my-10">


  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-10 mb-5">Previous supporters</h3>
  <p class="text-gray-200 mb-6 text-xl lg:text-2xl font-normal lg:leading-10">I’m forever thankful to these people and
    companies that have previously supported me.</p>

  <p class="text-gray-400 text-sm font-light uppercase lg:leading-10">This page is updated automatically.</p>
</div>