<div class="w-full sm:max-w-screen-xl mx-0 sm:mx-auto px-10 md:px-12 mb-7 lg:mb-10">
  <h1 class="text-4xl font-semibold lg:text-7xl lg:font-bold text-gray-50 mb-10 lg:mb-20">Donate</h1>
  <p class="text-gray-200 mb-6 text-xl lg:text-2xl font-normal lg:leading-10 w-full sm:w-2/3">I’m a full-time front-end developer and my work on Github is funded by the 
    community. <a class="underline underline-offset-2 decoration-1 font-light hover:decoration-2 hover:text-gray-50" href="https://github.com/sponsors/chriseugenerodriguez">Read more about me and what I do.</a></p>

  <p class="text-gray-200 mb-6 text-xl lg:text-2xl font-normal lg:leading-10 w-full sm:w-2/3">If you or your company are using any of my projects, consider supporting 
    me so I can continue <a class="underline underline-offset-2 decoration-1 font-light hover:decoration-2 hover:text-gray-50" href="https://github.com/chriseugenerodriguez">my open source work.</a></p>

  <h3 class="text-2xl font-semibold lg:text-4xl lg:font-bold text-gray-50 mt-10 mb-5">Monthly Donations</h3>
  <ul class="list-disc text-gray-200 list-inside lg:leading-10 text-xl lg:text-2xl font-semibold">
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="https://github.com/sponsors/chriseugenerodriguez">Github Sponsors</a></li>
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="https://www.buymeacoffee.com/7a6iTxbO23/membership">BuyMeACoffee.com</a></li>
  </ul>

  <h3 class="text-2xl lg:text-4xl font-bold text-gray-50 mt-10 mb-5">One-time Donations</h3>
  <ul class="list-disc text-gray-200 list-inside lg:leading-10 text-xl lg:text-2xl font-semibold">
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="https://buy.stripe.com/00g15d3thapybleeUU">Stripe</a></li>
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="https://www.buymeacoffee.com/7a6iTxbO23">BuyMeACoffee.com</a></li>
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="https://paypal.me/crodr">PayPal</a></li>
    <li><a class="hover:decoration-2 hover:text-white underline underline-offset-4 decoration-from-font" href="bitcoin:1MSKPTbAUyRTmkm1HhjJqpDNAd7TTnFdnt">Bitcoin</a></li>
  </ul>
</div>